{% extends 'layout.html' %} {% block title %}Profile{% endblock %} {% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td>{{ account['birth_date'] }}</td>
        </tr>
        <!-- <tr>
            <td>Age:</td>
            <td>{{ account['age'] }}</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>{{ account['weight'] }}</td>
        </tr>
        <tr>
            <td>Squat:</td>
            <td>{{ account['squat'] }}</td>
        </tr>
        <tr>
            <td>Bench:</td>
            <td>{{ account['bench'] }}</td>
        </tr>
        <tr>
            <td>Deadlift:</td>
            <td>{{ account['deadlift'] }}</td>
        </tr> -->
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}