{% extends 'layout.html' %} {% block title %}Update Profile{% endblock %} {% block content %}
<h2>Update Profile</h2>
<div class="update">
    <form action="{{ url_for('update') }}" method="post" autocomplete="off">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <label for="birth_date">
            <i class="fas fa-heart"></i>
        </label>
        <input type="date" name="birth_date" placeholder="Birth Date" id="birth_date">
        <!-- <label for="weight">
            <i class="fas fa-weight-hanging"></i>
        </label>
        <input type="number" name="weight" placeholder="Weight" id="weight">
        <label for="squat">
            <i class="fas fa-dumbbell"></i>
        </label>
        <input type="number" name="squat" placeholder="Squat" id="squat">
        <label for="bench">
            <i class="fas fa-dumbbell"></i>
        </label>
        <input type="number" name="bench" placeholder="Bench" id="bench">
        <label for="deadlift">
            <i class="fas fa-dumbbell"></i>
        </label>
        <input type="number" name="deadlift" placeholder="Deadlift" id="deadlift"> -->
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}