* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: slategray;
    margin: 0;
}

.login,
.register {
    width: 400px;
    background-color: whitesmoke;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1,
.register h1 {
    text-align: center;
    color: slategray;
    font-size: 30px;
    padding: 20px 0 20px 0;
    border-bottom: 3px solid slategray;
}


/* Login and Register links to switch between windows */

.login .links,
.register .links {
    display: flex;
    padding: 0 15px;
}

.login .links a,
.register .links a {
    color: slategray;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}


/* Changes login/register text color when hovering */

.login .links a:hover,
.register .links a:hover {
    color: lightgray;
}


/* Adds bottom border to login/register buttons when selected */

.login .links a.active,
.register .links a.active {
    border-bottom: 3px solid #3274d6;
    color: #3274d6;
}

.login form,
.register form,
.content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label,
.register form label,
.content form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}


/* Styling for labels of radio button selections */

.login form label.radio,
.register form label.radio,
.content form label.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffffff;
}

.login form input,
.register form input,
.content form input {
    width: 310px;
    height: 50px;
    border: 3px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="radio"],
.register form input[type="radio"],
.content form input[type="radio"] {
    width: 30px;
    height: 50px;
    border: 3px solid black;
    margin-bottom: 20px;
    padding: 0 15px;
}

form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #3274d6;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover,
.register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.navtop {
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop.first {
    background-color: #2f3947;
}

.navtop.second {
    background-color: grey;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}


/* Natural Strength Consolidated logo top left navbar styling */

.navtop.first div h1 a {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}


/* Add padding to icons */

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}

body.loggedin {
    background-color: #f3f4f7;
}

.content {
    width: 1000px;
    margin: 0 auto;
}


/* Update page */

.content .update {
    width: 450px;
}


/* Syling for h2 headers on logged-in pages */

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}


/* Create box around page content */

.content>p,
.content>div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
}

.content>p table td,
.content>div table td {
    padding: 5px;
}


/* Syling the first child (box) in page tables */

.content>p table td:first-child,
.content>div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}

.content>div p {
    padding: 5px;
    margin: 0 0 10px 0;
}


/* Dropdown Button */

.dropbtn {
    background-color: gold;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}