{% extends 'dashboard-layout.html' %} {% block title %}Home{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'metrics', metric='none') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'goals', metric='none' ) }}">
        <span data-feather="check-square"></span> Goals
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'news') }}">
        <span data-feather="inbox"></span> News
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'settings') }}">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'about') }}">
        <span data-feather="info"></span> About Us
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Goals</h1>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Metric Selection
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{{ url_for('goals', metric='squat') }}">Squat</a></li>
        <li><a class="dropdown-item" href="{{ url_for('goals', metric='bench') }}">Bench</a></li>
        <li><a class="dropdown-item" href="{{ url_for('goals', metric='deadlift') }}">Deadlift</a></li>
    </ul>
</div>


<h2 class="mb-3">Metric</h2>

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <!-- <div class="card-header">Metric Upload Status:</div> -->
        <div class="card-body">
            <h5 class="card-title">Current: {{ metric }}</h5>
            <!-- <p class="card-text">It is important to consistently log your metrics in order to accurately track your progress.</p> -->
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<h2 class="mb-3">Lifts</h2>

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Squat</h5>
            <p class="card-text">Current: {{ pred }}</p>
            <p class="card-text">All Time PR: {{pred}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Bench</h5>
            <p class="card-text">Current: {{ pred }}</p>
            <p class="card-text">All Time PR: {{pred}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Deadlift</h5>
            <p class="card-text">Current: {{ pred }}</p>
            <p class="card-text">All Time PR: {{pred}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<h2 class="mb-3">Model Interaction</h2>{% endblock %}