{% extends 'dashboard-layout.html' %} {% block title %}Home{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'metrics') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'goals', metric='none' ) }}">
        <span data-feather="check-square"></span> Goals
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'news') }}">
        <span data-feather="inbox"></span> News
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'settings') }}">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'about') }}">
        <span data-feather="info"></span> About Us
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Goals</h1>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Metric Selection
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{{ url_for('goals', metric='squat') }}">Squat</a></li>
        <li><a class="dropdown-item" href="{{ url_for('goals', metric='bench') }}">Bench</a></li>
        <li><a class="dropdown-item" href="{{ url_for('goals', metric='deadlift') }}">Deadlift</a></li>
    </ul>
</div>


<h2 class="mb-3">Metric</h2>

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <!-- <div class="card-header">Metric Upload Status:</div> -->
        <div class="card-body">
            <h5 class="card-title">Prediction for {{ metric }}: {{pred}} {{units}}</h5>
            <!-- <p class="card-text">It is important to consistently log your metrics in order to accurately track your progress.</p> -->
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<h2 class="mb-3">Lifts</h2>

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Squat</h5>
            <p class="card-text">Current: {{ last_record.squat }} {{units}}</p>
            <p class="card-text">Projected Goal: {{sp}} {{units}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{last_record.date}}</small>
        </div>
    </div>
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Bench</h5>
            <p class="card-text">Current: {{ last_record.bench }} {{units}}</p>
            <p class="card-text">Projected Goal: {{bp}} {{units}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{last_record.date}}</small>
        </div>
    </div>
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Deadlift</h5>
            <p class="card-text">Current: {{ last_record.deadlift }} {{units}}</p>
            <p class="card-text">Projected Goal: {{dp}} {{units}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{last_record.date}}</small>
        </div>
    </div>
</div>

<h2 class="mb-3">Model Interaction</h2>
<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-header">Input Metrics:</div>
    <!-- <div class="card-body">
        <h5 class="card-title"></h5>
    </div> -->
    <form action="{{ url_for('goals', metric='none') }}" method="post" autocomplete="off">
        <div class="form-floating">
            <input type="number" min="0" step="0.01" name="weight" class="form-control" placeholder="Weight" id="floatingInput" required>
            <label for="floatingInput">Weight</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="0.01" name="squat" class="form-control" placeholder="Squat" id="squat" required>
            <label for="floatingPassword">Squat</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="0.01" name="bench" class="form-control" placeholder="Bench" id="bench" required>
            <label for="floatingPassword">Bench</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="0.01" name="deadlift" class="form-control" placeholder="Deadlift" id="deadlift" required>
            <label for="floatingPassword">Deadlift</label>
        </div>
        <div class="form-floating">
            <input type="date" name="date" class="form-control" placeholder="Date" id="date" required>
            <label for="floatingPassword">Date</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
    </form>

    <form class="form-inline" action="/action_page.php">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div> -->
</div>{% endblock %}