{% extends 'dashboard-layout.html' %} {% block title %}Home{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'metrics', metric='none') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="inbox"></span> News
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="info"></span> About Us
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
<span data-feather="calendar"></span>
This week
</button>
    </div>
</div>


<h2>Welcome back, {{ username }}!</h2>

<!-- {% if last_record != None %}
<p>
    Current weight: {{ last_record.weight }}
</p>{% endif %} -->

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">Metric Upload Status:</div>
        {% if no_metrics_for_today %}
        <div class="card-body bg-danger">
            <h5 class="card-title">Would you like to upload your metrics for today?</h5>
            <!-- <p class="card-text">It is important to consistently log your metrics in order to accurately track your progress.</p> -->
        </div>
        {% else %}
        <div class="card-body bg-success">
            <h5 class="card-title">You have uploaded metrics for today, keep it up!</h5>
            <!-- <p class="card-text">It is important to consistently log your metrics in order to accurately track your progress.</p> -->
        </div>
        {% endif %}
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<h2 class="mb-3">Bodyweight</h2>

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <!-- <div class="card-header">Metric Upload Status:</div> -->
        <div class="card-body">
            <h5 class="card-title">Current: {{ last_record.weight }}</h5>
            <!-- <p class="card-text">It is important to consistently log your metrics in order to accurately track your progress.</p> -->
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<h2 class="mb-3">Lifts</h2>

<div class="card-group">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Squat</h5>
            <p class="card-text">Current: {{ last_record.squat }}</p>
            <p class="card-text">All Time PR: {{ms}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Bench</h5>
            <p class="card-text">Current: {{ last_record.bench }}</p>
            <p class="card-text">All Time PR: {{mb}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Deadlift</h5>
            <p class="card-text">Current: {{ last_record.deadlift }}</p>
            <p class="card-text">All Time PR: {{md}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<!-- <div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>


<div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div> -->


{% endblock %}