{% extends 'dashboard-layout.html' %} {% block title %}Metrics{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'metrics', metric='none') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="info"></span> About Us
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers"></span> Integrations
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Metrics</h1>
</div>

<form action="{{ url_for('metrics', metric='none') }}" method="post" autocomplete="off">
    <label for="weight">
        <i class="fas fa-weight-hanging"></i>
    </label>
    <input type="number" min="0" step="0.01" name="weight" placeholder="Weight" id="weight" required>
    <label for="squat">
        <i class="fas fa-dumbbell"></i>
    </label>
    <input type="number" min="0" step="0.01" name="squat" placeholder="Squat" id="squat" required>
    <label for="bench">
        <i class="fas fa-dumbbell"></i>
    </label>
    <input type="number" min="0" step="0.01" name="bench" placeholder="Bench" id="bench" required>
    <label for="deadlift">
        <i class="fas fa-dumbbell"></i>
    </label>
    <input type="number" min="0" step="0.01" name="deadlift" placeholder="Deadlift" id="deadlift" required>
    <label for="date">
        <i class="fas fa-calendar"></i>
    </label>
    <input type="date" name="date" placeholder="Date" id="date" required>
    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Upload">
</form>

<form action="{{ url_for('login') }}" method="post">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>

    <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required>
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="text" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
<input type="checkbox" value="remember-me"> Remember me
</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    <h3>{{ msg }}</h3>
    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
</form>
<!-- <h2>Section title</h2> -->
{% endblock %}