{% extends 'dashboard-layout.html' %} {% block title %}Metrics{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'metrics', metric='none') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="info"></span> About Us
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers"></span> Integrations
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Metrics</h1>
</div>

<div class="card-group mb-3">

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">Upload Metrics:</div>
        <!-- <div class="card-body">
            <h5 class="card-title"></h5>
        </div> -->
        <form action="{{ url_for('metrics', metric='none') }}" method="post" autocomplete="off">
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="weight" class="form-control" placeholder="Weight" id="floatingInput" required>
                <label for="floatingInput">Weight</label>
            </div>
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="squat" class="form-control" placeholder="Squat" id="squat" required>
                <label for="floatingPassword">Squat</label>
            </div>
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="bench" class="form-control" placeholder="Bench" id="bench" required>
                <label for="floatingPassword">Bench</label>
            </div>
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="deadlift" class="form-control" placeholder="Deadlift" id="deadlift" required>
                <label for="floatingPassword">Deadlift</label>
            </div>
            <div class="form-floating">
                <input type="date" name="date" class="form-control" placeholder="Date" id="date" required>
                <label for="floatingPassword">Date</label>
            </div>
            <div class="msg">{{ msg }}</div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
        </form>
        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
    </div>
</div>

{% endblock %}