{% extends 'dashboard-layout.html' %} {% block title %}Metrics{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'metrics', metric='none') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="info"></span> About Us
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers"></span> Integrations
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Metrics</h1>
</div>

<div class="card-group mb-3">

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">Upload Metrics:</div>
        <!-- <div class="card-body">
            <h5 class="card-title"></h5>
        </div> -->
        <form action="{{ url_for('metrics', metric='none') }}" method="post" autocomplete="off">
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="weight" class="form-control" placeholder="Weight" id="floatingInput" required>
                <label for="floatingInput">Weight</label>
            </div>
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="squat" class="form-control" placeholder="Squat" id="squat" required>
                <label for="floatingPassword">Squat</label>
            </div>
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="bench" class="form-control" placeholder="Bench" id="bench" required>
                <label for="floatingPassword">Bench</label>
            </div>
            <div class="form-floating">
                <input type="number" min="0" step="0.01" name="deadlift" class="form-control" placeholder="Deadlift" id="deadlift" required>
                <label for="floatingPassword">Deadlift</label>
            </div>
            <div class="form-floating">
                <input type="date" name="date" class="form-control" placeholder="Date" id="date" required>
                <label for="floatingPassword">Date</label>
            </div>
            <div class="msg">{{ msg }}</div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
        </form>
        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
    </div>

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">Upload Metrics:</div>
        <!-- <div class="card-body">
            <h5 class="card-title"></h5>
        </div> -->
        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->


        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                      First radio
                    </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                      Second radio
                    </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                            <label class="form-check-label" for="gridRadios3">
                      Third disabled radio
                    </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                    Example checkbox
                  </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}