<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

</head> -->

{% extends 'layout.html' %} {% block title %}Metric Charts{% endblock %} {% block content %}
<h2>Metric Charts</h2>

<div class="dropdown">
    <button class="dropbtn">Metric Selection</button>
    <div class="dropdown-content">
        <a href="{{ url_for('chart_metric', metric='weight') }}"><i class="fas fa-chart-line"></i>Weight</a>
        <a href="{{ url_for('chart_metric', metric='squat') }}"><i class="fas fa-chart-line"></i>Squat</a>
        <a href="{{ url_for('chart_metric', metric='bench') }}"><i class="fas fa-chart-line"></i>Bench</a>
        <a href="{{ url_for('chart_metric', metric='deadlift') }}"><i class="fas fa-chart-line"></i>Deadlift</a>
    </div>
</div>

<body>
    <!-- <h1>{{ title|title }}</h1> -->
    {{ plot|safe }}

</body>
{% endblock %}
<!-- </html> -->