{% extends 'layout.html' %} {% block title %}Profile{% endblock %} {% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td>{{ user.birth_date }}</td>
        </tr>
        <!-- <tr>
            <td>Age:</td>
            <td>{{ user['age'] }}</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>{{ user['weight'] }}</td>
        </tr>
        <tr>
            <td>Squat:</td>
            <td>{{ user['squat'] }}</td>
        </tr>
        <tr>
            <td>Bench:</td>
            <td>{{ user['bench'] }}</td>
        </tr>
        <tr>
            <td>Deadlift:</td>
            <td>{{ user['deadlift'] }}</td>
        </tr> -->
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>
<div>
    <a href="{{ url_for('update') }}"><i class="fas fa-pen"></i>Update Profile</a>
</div>
{% endblock %}