{% extends 'dashboard-layout.html' %} {% block title %}Home{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'profile') }}">
        <span data-feather="users"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'metrics', metric='none') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers"></span> About Us
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers"></span> Integrations
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
</div>

<div class="card-group mb-3">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">Account Details:</div>
        <div class="card-body">
            <!-- <h5 class="card-title"></h5> -->
            <p class="card-text">
                <strong>Username</strong>: {{user.username}}</p>
            <p class="card-text">
                <strong>Password</strong>: {{user.password}}</p>
            <p class="card-text">
                <strong>Birth Date</strong>: {{user.birth_date}}</p>
            <p class="card-text">
                <strong>Email</strong>: {{user.email}}</p>
            {% if user.sex == 0%}
            <p class="card-text">
                <strong>Sex</strong>: Male</p>
            {% else %}
            <p class="card-text">
                <strong>Sex</strong>: Female</p>
            {% endif %}
        </div>
        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
    </div>
</div>

{% endblock %}