{% extends 'dashboard-layout.html' %} {% block title %}Home{% endblock %} {% block sidebar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">
        <span data-feather="home"></span> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'profile') }}">
        <span data-feather="user"></span> Profile
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'metrics') }}">
        <span data-feather="file"></span> Metrics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'chart_metric', metric='weight' ) }}">
        <span data-feather="bar-chart-2"></span> Charts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'goals', metric='none' ) }}">
        <span data-feather="check-square"></span> Goals
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'news') }}">
        <span data-feather="inbox"></span> News
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for( 'settings') }}">
        <span data-feather="settings"></span> Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'about') }}">
        <span data-feather="info"></span> About Us
    </a>
</li>{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Settings</h1>
</div>

<div class="card-group mb-3">

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">Update Profile:</div>
        <!-- <div class="card-body">
            <h5 class="card-title"></h5>
        </div> -->

        <form action="{{ url_for('settings') }}" method="post" autocomplete="off">
            <div class="form-floating">
                <input type="text" name="username" class="form-control" placeholder="Username" id="floatingInput" required>
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Password" id="floatingPassword" required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="date" name="birth_date" class="form-control" placeholder="Birth Date" id="floatingInput" required>
                <label for="floatingInput">Birth Date</label>
            </div>
            <div class="form-floating">
                <input type="email" name="email" class="form-control" placeholder="Email" id="floatingInput" required>
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Checked checkbox
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
        </form>
        <div class="msg">{{ msg }}</div>
        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
    </div>
</div>
{% endblock %}